{% extends 'rango/base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'bootstrapLib/signin.css' %}">
<div class="jumbotron" style="padding-left: 15px;">
    <h1 class="display-4">Login</h1>
</div>
<form class="form-signin" role="form" method="post" action=".">
    {% csrf_token %}
    <h4 class="form-signin-heading">Please sign in</h4>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
    <button class="btn btn-primary btn-block" type="submit" value="Submit">Sign in</button>
</form>
{% endblock %}
