{% extends 'rango/base.html' %}
{% load static %}
<html>
{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for Rango</h1>
    {% if registered %}
            Rango says: <strong>thank for registering!</strong>
            <a href="rango/index/">Return to Home Page.</a><br />
    {% else %}
        Rango says: <strong>register here!</strong>
        <form action="{% url 'register' %}" id="user_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name = "submit", value = "Register">
        </form>
    {% endif %}
{% endblock %}
